{% extends 'base.html.twig' %}

{% block title 'Rooms' %}

{% block body %}
    <h1>Rooms</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Laravel</td>
                <td><a href="">Show</a> </td>
                <td><a href="">Edit</a> </td>
                <td><a href="">Delete</a> </td>
            </tr>
            <tr>
                <td>Symfony</td>
                <td><a href="">Show</a> </td>
                <td><a href="">Edit</a> </td>
                <td><a href="">Delete</a> </td>
            </tr>
        </tbody>
    </table>

    <p><a href="#">New room</a></p>

{% endblock %}
