{% extends 'layouts/base.html.twig' %}

{% block title 'New Room' %}

{% block body %}
    <h1>New Room</h1>

    {{ include('rooms/_form.html.twig') }}

    <p><a href="{{ path('app_rooms_index') }}">Back</a></p>
{% endblock %}
